html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

h1, h2, h3, h4, h5, h6 {
    color: #5a3f26;
    font-weight: 700;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
/* Загальний стиль таблиць */

table {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.table {
    border-collapse: separate;
    border-spacing: 0;
}

    /* Заголовок */
    .table thead tr,
    .table thead th {
        background-color: #e9d6ba !important;
        color: black !important;
    }

    /* Звичайні рядки */
    .table tbody tr,
    .table tbody td {
        background-color: #f4eadb !important;
    }

        /* Наведення */
        .table tbody tr:hover td {
            background-color: #efe2cf !important;
            transition: 0.2s;
        }

    .table thead th {
        font-weight: 500;
        padding: 14px;
    }

    .table tbody td {
        padding: 12px;
        vertical-align: middle;
    }

    .table .btn {
        margin-right: 5px;
    }
    .table th,
    .table td {
        border-color: #d8c5a7 !important;
        border-width: 1.5px;
    }

body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient( rgba(255,255,255,0.65), rgba(255,255,255,0.65) ), url('/images/warehouse-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Посилання дій у таблицях */

table a {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 6px;
    text-decoration: none;
    color: white !important;
    margin-right: 5px;
    font-size: 14px;
}

    /* Edit */
    table a[href*="Edit"] {
        background-color: #b58b5d;
        color: white !important;
    }

    /* Details */
    table a[href*="Details"] {
        background-color: #b58b5d;
        color: white !important;
    }

    /* Delete залишаємо */
    table a[href*="Delete"] {
        background-color: #dc3545;
    }


    /* Ефект наведення */
    table a:hover {
        opacity: 0.85;
        transform: translateY(-1px);
        transition: 0.2s;
    }
    .create-btn {
    background-color: #a67c52;
    color: white !important;
    border: none;
    }

    .create-btn:hover {
        background-color: #8c6843;
        color: white !important;
    }
.card,
.table,
.container,
.form-control,
.navbar {
    background-color: #efe2cf !important;
}

/* Поля введення */

.form-control,
.form-select {
    background-color: #fffaf3 !important;
    border: 1px solid #d8c5a7;
    color: black;
}

    /* При фокусі */

    .form-control:focus,
    .form-select:focus {
        background-color: white !important;
        border-color: #c9a36b;
        box-shadow: 0 0 5px rgba(201,163,107,0.4);
    }

    /* Placeholder */

    .form-control::placeholder {
        color: #888;
    }
.back-btn {
    display: inline-block;
    padding: 8px 14px;
    background-color: #8c6843;
    color: white !important;
    text-decoration: none;
    border-radius: 6px;
    border: none;
}

    .back-btn:hover {
        background-color: #6f5235;
        color: white !important;
    }

.supplier-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.supplier-card {
    width: 350px;
    background-color: #f4eadb;
    border: 1px solid #d8c5a7;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

    .supplier-card h4 {
        color: #5a3f26;
        margin-bottom: 15px;
    }

    .supplier-card hr {
        border-color: #c9b08c;
    }

    .supplier-card p {
        margin-bottom: 10px;
    }

.card-buttons {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.customer-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.customer-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4eadb;
    border: 1px solid #d8c5a7;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.customer-info h4 {
    color: #5a3f26;
    margin-bottom: 10px;
}

.customer-info p {
    margin-bottom: 5px;
}

.customer-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-container {
    text-align: center;
}

.main-title {
    color: #5a3f26;
    font-size: 50px;
    margin-bottom: 10px;
}

.main-description {
    font-size: 20px;
    margin-bottom: 40px;
}

.module-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin-top: 30px;
}

.module-card {
    background: #f4eadb;
    border-radius: 20px;
    padding: 20px;
    text-decoration: none;
    color: black;
    border: 1px solid #d8c5a7;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

    .module-card:hover {
        transform: translateY(-8px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    }

    .module-card img {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
        border: 2px solid #8b5e34;
        border-radius: 50%;

        padding: 10px;
        background: #fff8f0;
    }

    .module-card h3 {
        color: #5a3f26;
    }