@model IEnumerable<WebApplicationForEnterprise.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Користувачі";
}

<h1>КОРИСТУВАЧІ</h1>

<p>
    <a asp-action="Create"
           class="btn create-btn">
        Додати користувача
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Роль</th>
            <th>Дії</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.Email
                </td>

                <td>
                    @item.RoleName
                </td>

                <td>
                    <a asp-action="Edit"
                           asp-route-id="@item.Id"
                           class="btn create-btn">

                        Змінити
                    </a>
                    <a asp-action="Delete"
                           asp-route-id="@item.Id"
                           class="btn btn-danger">

                        Видалити
                    </a>
                </td>

            </tr>
        }

    </tbody>

</table>